<div class="row">
  <div class="col-lg-12">
  <h1 class="page-header">
    Articles <small> Edit</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <i class="fa fa-dashboard"></i> <a href="/backoffice">Dashboard</a>
    </li>
    <li>
      <i class="fa fa-newspaper-o"></i> <a href="/backoffice/articles">Articles</a>
    </li>
    <li class="active">
      <i class="fa fa-newspaper-o"></i> <%= @article.subject %>
    </li>
  </ol>
  </div>
</div>

<% if @error %>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation-triangle"></i>  <span><%= @error[:error][:full_message] %></span>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <%= form_tag "/backoffice/articles/#{@article.id}", role: 'form', multipart: true, method: :put do %>
      <span class="sts-draft center"><%= @article.status %></span>
      
      <div class="form-group">
        <input type="text" id="article_subject" class="input_h2" name="article[subject]" value="<%= @article.subject %>">
        <input type"text" id="article_permalink" class="input_small" name="article[permalink]" value="<%= @article.permalink%>">
      </div>

      <div class="form-group">
        <label>Cover</label>
        <input type="file" name="article[cover]">
          <picture class="outside_margeagle_tb block">
          <%= image_tag @article.cover.url %>
        </picture>
      </div>
      
      <div class="form-group">
        <label for="article_introduction">Introduction</label>
        <textarea id="article_introduction" name="article[introduction]">
          <%= @article.introduction %>
        </textarea>
      </div>

      <div class="form-group">
        <label for="article_body">Body</label>
        <textarea id="article_body" name="article[body]">
          <%= @article.body %>
        </textarea>
      </div>

      <div class="form-group">
        <label for="article_tags">Tags</label>
        <input type="text" id="article_tags" class="form-control" name="article[tags]" value="<%= @article.tags.join(", ") %>">
      </div>

      <div class="center">
      <% if @article.draft? %>    
        <%= link_to "Publish", publish_backoffice_article_path(id: @article.id), class: "btn btn-publish", id: "publish_article"   %>
      <% else %>
        <%= link_to "Unpublish", unpublish_backoffice_article_path(id: @article.id), class: "btn btn-unpublish", id: "unpublish_article"   %>
      <%  end %>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    <% end %>
  </div>
</div>


<%= content_for :javascript do %>
  <%= javascript_include_tag 'backoffice/articles/show' %>
<% end %>