<section class="row">
  <h3><%= @category.title %></h3>
  <hr>
  <% @articles.each do |article| %>
  <article class="just article">
    <h4 class="category"><%= l article.created_at, format: "%d-%m-%Y" %> | <%= article.subject %> </h4>
    <p><%= sanitize article.introduction[0..100], tags: %w{} %>...</p>
    <p><small><strong>Tags:</strong> <%= article.tags.join(", ")%></small></p>
  </article>
  <% end %>
</section>

